{% extends 'index.html.twig' %}

{% block main %}
	<h1>Edit Room</h1>
	{% if is_granted('ROLE_USER') %}
		{{ include('room/_form.html.twig', {'button_label': 'Update'}) }}
	{% endif %}
	{% if is_granted('ROLE_ADMIN') %}
		{{ include('room/_delete_form.html.twig') }}
	{% endif %}
	<a href="{{ path('room_index') }}">
		<button class="btn-lg btn-outline-dark back-to-list-btn">back to list →</button>
	</a>

{% endblock %}
