{% extends 'index.html.twig' %}

{% block main %}
	<h1>Edit Room</h1>

	{{ include('owner_room/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('owner_room_index') }}">
		<button class="btn-lg btn-outline-dark back-to-list-btn">back to list →</button>
	</a>

	{{ include('owner_room/_delete_form.html.twig') }}
{% endblock %}
