{% extends 'index.html.twig' %}

{% block main %}
	<h1>Create new Owner</h1>

	{{ include('owner/_form.html.twig') }}

	<a href="{{ path('owner_index') }}">
		<button class="btn-lg btn-outline-dark back-to-list-btn">back to list →</button>
	</a>
{% endblock %}
