{% extends 'index.html.twig' %}

{% block title %}Welcome to the Voyage agency
{% endblock %}
{% block main %}
	<h1>Welcome to the Voyage agency</h1>
	<h2>Discover our best destinations</h2>
{% endblock %}
