{% extends 'index.html.twig' %}
{% block main %}
	<h1 class='title'>Farlands agency</h1>
	<h2 class='subtitle'>Find a place to stay, anywhere in the worlds</h2>
	<div class='ribbon'>hey</div>
{% endblock %}
