{% extends 'index.html.twig' %}

{% block main %}
	<h1>Edit Region</h1>
	{% if is_granted('ROLE_ADMIN') %}
		{{ include('region/_form.html.twig', {'button_label': 'Update'}) }}
	{% endif %}

	<a href="{{ path('region_index') }}">
		<button class="btn-lg btn-outline-dark back-to-list-btn">back to list →</button>
	</a>

	{{ include('region/_delete_form.html.twig') }}
{% endblock %}
